<h1>Government Officials</h1>

<!-- Form to Add New Official -->
<form method="POST" action="{{ url_for('main.add_edit_government_official') }}">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required />

  <button type="submit">Add New Official</button>
</form>

<hr />

<!-- Table for Listing Officials -->
<table>
  <tr>
    <th>Username</th>
    <th>Actions</th>
  </tr>
  {% for off in officials %}
  <tr>
    <td>{{ off.username }}</td>
    <td>
      <!-- Edit Official -->
      <a
        href="{{ url_for('main.add_edit_government_official', username=off.username) }}"
        >Edit</a
      >

      <!-- Delete Official -->
      <form
        method="POST"
        action="{{ url_for('main.delete_government_official', username=off.username) }}"
        style="display: inline"
      >
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
