<h1>Government Officials</h1>
<a href="{{ url_for('main.add_edit_government_official', username=None) }}">Add New Official</a>
<table>
  <tr>
    <th>Username</th>
    <th>Actions</th>
  </tr>
  {% for off in officials %}
  <tr>
    <td>{{ off.username }}</td>
    <td>
        <a href="{{ url_for('main.add_edit_government_official', username=official.username) }}">Edit</a>
        <form method="POST" action="{{ url_for('main.delete_government_official', username=official.username) }}">
            <button type="submit">Delete</button>
        </form>        
    </td>
  </tr>
  {% endfor %}
</table>